* {
  font-family: "Ubuntu", sans-serif;
}
body {
  background: #4da0b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d39d38,
    #4da0b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d39d38,
    #4da0b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  text-align: center;
  margin-top: 30px;
}
.container h1 {
  letter-spacing: 5px;
  color: #f9f9f9;
}
table {
  margin: 0 auto;
}
input {
  font-size: 25px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 50px;
  outline-style: none;
  border: none;
  color: #dc6c6c;
  background: #f9f9f9;
  box-shadow: 3px -1px 0px #fff;
}
button {
  font-size: 26px;
  height: 71px;
  width: 81px;
  border-radius: 50px;
  outline-style: none;
  border: none;
  font-weight: 700;
  background: #dc6c6c;
  color: #2f0303;
  box-shadow: 3px -1px 1px #fff;
  cursor: pointer;
}
.calculator {
  display: inline-block;
}
span {
  color: #370846;
}
